<% @mainpagetitle = "Your Groups" %>
<%= render "shared/topbar" %>

<table>
  <tbody>
    <% @memberships.where(:user_id => current_user.id).each do |membership| %>
      <tr>
        <td><%= membership.group.name %></td>
        <td><%= link_to 'Show', membership.group %></td>
        <td><%= link_to 'Edit', edit_membership_path(membership) %></td>
        <td><%= link_to 'Destroy', membership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Membership', new_membership_path %>

<%= render "shared/bottombar" %>
