<% @mainpagetitle="Groups" %>
<%= render "shared/topbar" %>

<fieldset class="groupinfo">
  <legend>Your Groups</legend>
  <% @memberships.where(:user_id => current_user.id).each do |membership| %>
    <p class="groupnames"><%= link_to membership.group.name, membership.group %></p>
  <% end %>
</fieldset>


<div id="newgrouplink">
  <%= link_to 'New Group', new_group_path %>
</div>

<div id="joingrouplink">
  <%= link_to 'Join Group', new_membership_path %>
</div>

<%= render "shared/bottombar" %>
