<% @mainpagetitle = @group.name + " group " %>
<%= render "shared/topbar" %>

<div class="chattable" id="chatbox">
  <div id="chatboxcontent">
    <ul id="chat">
      <%= render @chat %>
    </ul>
  </div>
</div>

<div id="groupchatui">
  <%= form_for @chat.build, remote: true do |f| %>
    <div>
      <span><%= f.text_field :message, :id => "groupchatenter", :placeholder => "Enter chat here...", :autofocus => true %></span>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :group_id, :value => @group.id %>
      <span id="new_chat"><%= f.submit "Send", :class => "button tiny radius centerall", :style => "margin-top:2px; margin-left:-6px;" %>
      </span>
    </div>
  <% end %>
</div>

<div id="group-memberslink">
  <%= link_to 'Members', showmembers_groups_path(@group) %>(<%= @group.users.count %>)
</div>

<%= render "shared/bottombar" %>

<%= javascript_include_tag "page/groupshow" %>
