<% @mainpagetitle = @group.name + " group" %>
<%= render "shared/topbar" %>

<div id="privatestatus">
  <%= @privatestatus %>
</div>

<p>
  <strong>Private:</strong>
  <%= @group.private %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>

<%= render "shared/bottombar" %>
