<% @finishedlightningnewvotes = Lightning.where(:user_id => current_user.id).where(:completed => true).where("whovoted != ?", "").order('created_at DESC').all %>
<div id="main-topbar">
  <div id="main-pagetitle">
    <div id="main-homebutton">
    <%= link_to(image_tag("Home-128.png", size: "36", alt: "Main Menu", class: "topbar-homebutton"), main_path) %>
    </div>
    <div id="main-titletext">
      <%= @mainpagetitle %>
      <% if @group && @group.private == true %>
        <%= image_tag @topbarimage, alt: "Private status", class: "topbar-privateimage" %>
      <% end %>
    </div>
    <%= link_to(lightnings_path) do %>
      <div id="main-messagebutton">
        <%= image_tag("Lightning-128.png", size: "30", alt: "Lightning Mode", class: "topbar-messagebutton") %>
        <% if @finishedlightningnewvotes.count > 0 %>
          <div class="lightningnumber">
            <%= @finishedlightningnewvotes.count %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
