<div class="mainpageviewbutton">
    Your Games:<br>
    <%= button_tag "Play Rounds", :id => "mainplaygamesbutton" %>
    <%= button_tag "Vote Rounds", :id => "mainvotegamesbutton" %>
    <%= button_tag "Completed", :id => "maincompletedgamesbutton" %>
  </div>
<div class="maingamespage">
  <div id="mainplayinggameslist" >
    <u>Your games currently in Play rounds</u><br>
    <% @gamesinplayround.each do |game| %>
      <% @timeremainingminutes = (game.playendtime - DateTime.now) %>
        <% if @timeremainingminutes >= 3600 %>
          <% @timeremaining = distance_of_time_in_words(@timeremainingminutes) %>
        <% elsif @timeremainingminutes < 3600 %>
          <% @timeremaining = "about " + ((game.playendtime - DateTime.now)/60).round.to_s + " minutes" %>
        <% end %>
        <%= link_to(game) do %>
          <% if Gamedata.where(:game_id => game.id).where(:user_id => current_user.id).first.r8answer != nil %>
            <div class="button gameroundscompleted">
          <% else %>
            <div class="button">
          <% end %>
            <span class="gamelistname"><%= game.name %></span><br>
            <span class="gamelisttime">(Play ends in <%= @timeremaining %>)</span><br>
            Players: <%= game.playercount %>
          </div>
        <% end %>
      <br>
    <% end %>
    <br>
  </div>

  <div id="mainvotinggameslist" >
    <u>Your games currently in Vote rounds</u><br>
    <% @gamesinvoteround.each do |game| %>
      <% @timeremainingminutes = (game.voteendtime - DateTime.now) %>
        <% if @timeremainingminutes >= 3600 %>
          <% @timeremaining = distance_of_time_in_words(@timeremainingminutes) %>
        <% elsif @timeremainingminutes < 3600 %>
          <% @timeremaining = "about " + ((game.voteendtime - DateTime.now)/60).round.to_s + " minutes" %>
        <% end %>
      <%= link_to(game) do %>
        <% @votingroundgame = Gamedata.where(:game_id => game.id).where(:user_id => current_user.id).first %>
        <% if game.playercount < 3 %>
          <div class="button gamecancelled"
        <% elsif game.length == "1hour" %>
          <% if @votingroundgame.r1votedfor != 0 && @votingroundgame.r2votedfor != 0 &&
            @votingroundgame.r3votedfor != 0 && @votingroundgame.r4votedfor != 0 %>
            <div class="button gameroundscompleted">
          <% else %>
            <div class="button">
          <% end %>
        <% elsif game.length == "6hour" %>
          <% if @votingroundgame.r1votedfor != 0 && @votingroundgame.r2votedfor != 0 &&
            @votingroundgame.r3votedfor != 0 && @votingroundgame.r4votedfor != 0 &&
            @votingroundgame.r5votedfor != 0 && @votingroundgame.r6votedfor != 0 &&
            @votingroundgame.r7votedfor != 0 && @votingroundgame.r8votedfor != 0 %>
            <div class="button gameroundscompleted">
          <% else %>
            <div class="button">
          <% end %>
        <% end %>
            <span class="gamelistname"><%= game.name %></span><br>
            <span class="gamelisttime">(Voting ends in <%= @timeremaining %>)</span><br>
            Players: <%= game.playercount %>
          </div>
        <% end %>
      <br>
    <% end %>
    <br>
  </div>

  <div id="mainresultsgameslist" >
    <u>Your completed games (last 20)</u><br>
    <% @gamesinresultsround.each do |game| %>
      <span class="completedgamelink"><%= link_to(game) do %>
        <% if Gamedata.where(:game_id => game.id).where(:user_id => current_user.id).first.seenresults == true %>
          <div class="button gameroundscompleted">
        <% else %>
          <div class="button">
        <% end %>
            <span class="gamelistname"><%= game.name %></span><br>
            Players: <%= game.playercount %> Length:
            <% if game.length == "1hour" %>
            Quick
            <% elsif game.length == "6hour" %>
            Normal
            <% end %>
          </div>
        <% end %></span>
      <br>
    <% end %>
  </div>
  <br>

  <% if current_user.tooltips == true %>
    <fieldset class="tooltips">
      <legend style="text-align: left; margin-left: 6px;">Tip</legend>
      Welcome to AcroFriends! To start playing, click the "New" button at the bottom of the page.
      <%= button_to "Turn tips off", {:controller => "pages", :action => "tipsoff", :method => "put"}, :class => "button tipbutton", remote: true %>
    </fieldset>
    <script>
      $(".button.tipbutton").click(function() {
        $(".tooltips").hide();
      });
    </script>
  <% end %>

</div>

<%= javascript_include_tag "page/mainnav" %>
<%= render "shared/bottombar" %>
