<div class="mainpageviewbutton">
    Your Games:<br>
    <%= button_tag "Play Rounds", :id => "mainplaygamesbutton" %>
    <%= button_tag "Vote Rounds", :id => "mainvotegamesbutton" %>
    <%= button_tag "Completed", :id => "maincompletedgamesbutton" %>
  </div>
<div class="maingamespage">

  <div id="mainplayinggameslist" >
    <u>Your games currently in Play rounds</u><br>
    <% @gamesinplayround.each do |game| %>
      <% @timeremainingminutes = (game.playendtime - DateTime.now) %>
        <% if @timeremainingminutes >= 3600 %>
          <% @timeremaining = distance_of_time_in_words(@timeremainingminutes) %>
        <% elsif @timeremainingminutes < 3600 %>
          <% @timeremaining = "about " + ((game.playendtime - DateTime.now)/60).round.to_s + " minutes" %>
        <% end %>
        <%= link_to(game) do %>
          <div class="button animated fadeIn">
            <span class="gamelistname"><%= game.name %></span><br>
            <span class="gamelisttime">(Play ends in <%= @timeremaining %>)</span><br>
            Players: <%= game.playercount %>
          </div>
        <% end %>
      <br>
    <% end %>
    <br>
  </div>

  <div id="mainvotinggameslist" >
    <u>Your games currently in Vote rounds</u><br>
    <% @gamesinvoteround.each do |game| %>
      <% @timeremainingminutes = (game.voteendtime - DateTime.now) %>
        <% if @timeremainingminutes >= 3600 %>
          <% @timeremaining = distance_of_time_in_words(@timeremainingminutes) %>
        <% elsif @timeremainingminutes < 3600 %>
          <% @timeremaining = "about " + ((game.voteendtime - DateTime.now)/60).round.to_s + " minutes" %>
        <% end %>
      <%= link_to(game) do %>
          <div class="button animated fadeIn">
            <span class="gamelistname"><%= game.name %></span><br>
            <span class="gamelisttime">(Voting ends in <%= @timeremaining %>)</span><br>
            Players: <%= game.playercount %>
          </div>
        <% end %>
      <br>
    <% end %>
    <br>
  </div>

  <div id="mainresultsgameslist" >
    <u>Your completed games (last 20)</u><br>
    <% @gamesinresultsround.each do |game| %>
      <%= link_to(game) do %>
          <div class="button animated fadeIn">
            <span class="gamelistname"><%= game.name %></span><br>
            Players: <%= game.playercount %>
          </div>
        <% end %>
      <br>
    <% end %>
  </div>
  <br>

  <% if current_user.tooltips == true %>
    <fieldset class="tooltips">
      <legend style="text-align: left; margin-left: 6px;">Tip</legend>
      Welcome to AcroFriends! To start playing, click the "New" button at the bottom of the page.
      <%= button_to "Turn tips off", {:controller => "pages", :action => "tipsoff", :method => "put"}, :class => "button tipbutton", remote: true %>
    </fieldset>
    <script>
      $(".button.tipbutton").click(function() {
        $(".tooltips").hide();
      });
    </script>
  <% end %>

</div>

<%= javascript_include_tag "page/mainnav" %>
<%= render "shared/bottombar" %>
