<% @mainpagetitle="Player Ratings" %>
<%= render "shared/topbar" %>

<div class="userstats">
  <div style="margin-bottom: 5px; text-align: center; font-weight: 600; line-height: 1.4;">Stats for <%= current_user.username %><br>
    <span style="font-size: 86%; margin-left: -64px;"><u>Classic Mode Stats</u></span>
    <span style="font-size: 86%; float: right; margin-top: 2px;"><u>World Rank</u></span><br>
  </div>
  <span class="userstatdesc">Average points per round: <span class="userstatnumber"><%= current_user.averagepointsperround %></span></span>
  <span class="userstatrank"><%= @userlifeavgpointrank.ordinalize %></span><br>

  <span class="userstatdesc">Total lifetime points: <span class="userstatnumber"><%= current_user.lifetimepoints %></span></span>
  <span class="userstatrank"><%= @userlifetimepointsrank.ordinalize %></span><br>

  <span class="userstatdesc">Total lifetime rounds played: <span class="userstatnumber"><%= current_user.lifetimeroundsplayed %></span></span>
  <span class="userstatrank"><%= @userlifetimeroundsrank.ordinalize %></span><br>

  <div style="margin-bottom: 5px; text-align: center; font-weight: 600; line-height: 1.4; margin-top: 6px;">
    <span style="font-size: 86%; margin-left: -54px;"><u>Lightning Mode Stats</u></span>
    <span style="font-size: 86%; float: right; margin-top: 2px;"><u>World Rank</u></span><br>
  </div>

  <span class="userstatdesc">Thumbs up received %: <span class="userstatnumber"><%= current_user.percentthumbsup %>%</span></span>
  <span class="userstatrank"><%= @userthumbsuppercentrank.ordinalize %></span><br>

  <span class="userstatdesc">Hearts received %: <span class="userstatnumber"><%= current_user.percentheart %>%</span></span>
  <span class="userstatrank"><%= @userheartpercentrank.ordinalize %></span><br>

  <span class="userstatdesc">Thumbs up given %: <span class="userstatnumber"><%= current_user.percentthumbsupgiven %>%</span></span>
  <span class="userstatrank"><%= @userthumbsupgivenpercentrank.ordinalize %></span><br>

  <span class="userstatdesc">Hearts given %: <span class="userstatnumber"><%= current_user.percentheartgiven %>%</span></span>
  <span class="userstatrank"><%= @userheartgivenpercentrank.ordinalize %></span><br>

  <span class="userstatdesc">Lifetime acros played: <span class="userstatnumber"><%= current_user.lifetimelightningsplayed %></span></span>
  <span class="userstatrank"><%= @userlightningplayedrank.ordinalize %></span><br>

  <span class="userstatdesc">Lifetime votes cast: <span class="userstatnumber"><%= current_user.lightningvotesmade %></span></span>
  <span class="userstatrank"><%= @userlightningvotescastrank.ordinalize %></span><br>

</div>
<br>




<div class="lifetimerankings">
  <div style="margin-bottom: 6px; text-align: center;">Main Game Ratings - Top 30<br><span style="font-size: 86%"><u>(Average Points/Round)</u></span></div>
  <% User.all.sort {|a,b| a.averagepointsperround <=> b.averagepointsperround}.reverse!.first(30).each do |user| %>
    <li style="list-style-type: decimal;"><%= user.username %> <span style="float:right"><%= user.averagepointsperround %></span></li>
  <% end %>
</div>
<br>
<div class="lifetimerankings">
  <div style="margin-bottom: 6px; text-align: center;"><u>Main Game Lifetime Leaders</u></div>
  <% User.order('lifetimepoints DESC').each do |user| %>
    <li style="list-style-type: decimal;"><%= user.username %> with <%= user.lifetimepoints %> points</li>
  <% end %>
</div>
<br>
<div class="lifetimerankings">
  <div style="margin-bottom: 6px; text-align: center;"><u>Lightning Thumbs Up % Leaders</u></div>
  <% User.all.sort {|a,b| a.percentthumbsup <=> b.percentthumbsup}.reverse!.first(10).each do |user| %>
    <li style="list-style-type: decimal;"><%= user.username %> <span style="float:right"><%= user.percentthumbsup %>%</span></li>
  <% end %>
</div>
<br>
<div class="lifetimerankings">
  <div style="margin-bottom: 6px; text-align: center;"><u>Lightning Heart % Leaders</u></div>
  <% User.all.sort {|a,b| a.percentheart <=> b.percentheart}.reverse!.first(10).each do |user| %>
    <li style="list-style-type: decimal;"><%= user.username %> <span style="float:right"><%= user.percentheart %>%</span></li>
  <% end %>
</div>

<br>
<div class="lifetimerankings">
  <div style="margin-bottom: 6px; text-align: center;">Most Generous Lightning Players<br><span style="font-size: 86%"><u>(Top 10 Thumbs Up Given % Leaders</u></span></div>
  <% User.all.sort {|a,b| a.percentthumbsupgiven <=> b.percentthumbsupgiven}.reverse!.first(10).each do |user| %>
    <li style="list-style-type: decimal;"><%= user.username %> <span style="float:right"><%= user.percentthumbsupgiven %>%</span></li>
  <% end %>
</div>

<br>
<div class="lifetimerankings">
  <div style="margin-bottom: 6px; text-align: center;">Most Loving Lightning Players<br><span style="font-size: 86%"><u>(Top 10 Hearts Given % Leaders</u></span></div>
  <% User.all.sort {|a,b| a.percentheartgiven <=> b.percentheartgiven}.reverse!.first(10).each do |user| %>
    <li style="list-style-type: decimal;"><%= user.username %> <span style="float:right"><%= user.percentheartgiven %>%</span></li>
  <% end %>
</div>
<br>
<div class="lifetimerankings">
  <div style="margin-bottom: 6px; text-align: center;">Top Lightning Voters<br><span style="font-size: 86%"><u>(Top 10 Lightning Votes Cast</u></span></div>
  <% User.all.sort {|a,b| a.lightningvotesmade <=> b.lightningvotesmade}.reverse!.first(10).each do |user| %>
    <li style="list-style-type: decimal;"><%= user.username %> <span style="float:right"><%= user.lightningvotesmade %></span></li>
  <% end %>
</div>

<%= render "shared/bottombar" %>
