  <div id="playrounds">
    <div class="playarea" id="r1play">
      <div class="roundtitle">Round 1</div>
      Category: <span class="gamecategories"><%= @game.r1cat %></span>
      <div class="gameletters" id="round1letters"><%= @game.r1letters %></div>
      <div>
        <%= form_for @gamedata, :url => updateanswer_gamedata_path, :html => {:method => :post, :id => "r1answerform"}, remote: true do |f| %>
          <div>
            <%= f.hidden_field :game_id, :value => @game.id %>
            <span><%= f.text_field :r1answer, :class => "answerfield", :id => "r1answerfield", :placeholder => "Enter or change Round 1 acro here...", :autofocus => true %></span>
            <span id="r1answer"><%= f.submit "Play", :class => "button answersubmitbutton" %>
            </span>
          </div>
        <% end %>
      </div>
      <div id="r1answered">
        <% if @currentgamedata.r1answer == nil %>
          Your acro: No acro yet...
        <% else %>
          Your acro: "<%= @currentgamedata.r1answer %>"
        <% end %>
      </div>
      <% if @gamedata.r1answer && @gamedata.r2answer && @gamedata.r3answer && @gamedata.r4answer &&
            @gamedata.r5answer && @gamedata.r6answer && @gamedata.r7answer && @gamedata.r8answer %>
        <div class="allanswered">
          You've completed every acro! Come back soon to vote!
        </div>
      <% else %>
        <div class="allanswered hidden">
          You've completed every acro! Come back soon to vote!
        </div>
      <% end %>
      <div class="playlongroundbutton">
        <% if @gamedata.r6answer %>
          <%= button_tag "Round 7", :class => "r7playbutton" %>
        <% else %>
          <%= button_tag "Round 7", :class => "r7playbutton hidden" %>
        <% end %>
        <% if @gamedata.r7answer %>
          <%= button_tag "Round 8", :class => "r8playbutton" %>
        <% else %>
          <%= button_tag "Round 8", :class => "r8playbutton hidden" %>
        <% end %>
        <div>
          <% if @gamedata.r3answer %>
            <%= button_tag "Round 4", :class => "r4playbutton" %>
          <% else %>
            <%= button_tag "Round 4", :class => "r4playbutton hidden" %>
          <% end %>
          <% if @gamedata.r4answer %>
            <%= button_tag "Round 5", :class => "r5playbutton" %>
          <% else %>
            <%= button_tag "Round 5", :class => "r5playbutton hidden" %>
          <% end %>
          <% if @gamedata.r5answer %>
            <%= button_tag "Round 6", :class => "r6playbutton" %>
          <% else %>
            <%= button_tag "Round 6", :class => "r6playbutton hidden" %>
          <% end %>
        </div>
        <div>
          <% if @gamedata.r1answer %>
            <%= button_tag "Round 1", :class => "r1playbutton" %>
            <%= button_tag "Round 2", :class => "r2playbutton" %>
          <% else %>
            <%= button_tag "Round 1", :class => "r1playbutton hidden" %>
            <%= button_tag "Round 2", :class => "r2playbutton hidden" %>
          <% end %>
          <% if @gamedata.r2answer %>
            <%= button_tag "Round 3", :class => "r3playbutton" %>
          <% else %>
            <%= button_tag "Round 3", :class => "r3playbutton hidden" %>
          <% end %>
        </div>


      </div>
    </div>

    <div class="playarea" id="r2play">
      <div class="roundtitle">Round 2</div>
      Category: <span class="gamecategories"><%= @game.r2cat %></span>
      <div class="gameletters" id="round2letters"><%= @game.r2letters %></div>
      <div>
        <%= form_for @gamedata, :url => updateanswer_gamedata_path, :html => {:method => :post, :id => "r2answerform"}, remote: true do |g| %>
          <div>
            <%= g.hidden_field :game_id, :value => @game.id %>
            <span><%= g.text_field :r2answer, :class => "answerfield", :id => "r2answerfield", :placeholder => "Enter or change Round 2 acro here...", :autofocus => true %></span>
            <span id="r2answer"><%= g.submit "Play", :class => "button answersubmitbutton" %>
            </span>
          </div>
        <% end %>
      </div>
      <div id="r2answered">
        <% if @currentgamedata.r2answer == nil %>
          Your acro: No acro yet...
        <% else %>
          Your acro: "<%= @currentgamedata.r2answer %>"
        <% end %>
      </div>
      <% if @gamedata.r1answer && @gamedata.r2answer && @gamedata.r3answer && @gamedata.r4answer &&
            @gamedata.r5answer && @gamedata.r6answer && @gamedata.r7answer && @gamedata.r8answer %>
        <div class="allanswered">
          You've completed every acro! Come back soon to vote!
        </div>
      <% else %>
        <div class="allanswered hidden">
          You've completed every acro! Come back soon to vote!
        </div>
      <% end %>
      <div class="playlongroundbutton">
        <% if @gamedata.r6answer %>
          <%= button_tag "Round 7", :class => "r7playbutton" %>
        <% else %>
          <%= button_tag "Round 7", :class => "r7playbutton hidden" %>
        <% end %>
        <% if @gamedata.r7answer %>
          <%= button_tag "Round 8", :class => "r8playbutton" %>
        <% else %>
          <%= button_tag "Round 8", :class => "r8playbutton hidden" %>
        <% end %>
        <div>
          <% if @gamedata.r3answer %>
            <%= button_tag "Round 4", :class => "r4playbutton" %>
          <% else %>
            <%= button_tag "Round 4", :class => "r4playbutton hidden" %>
          <% end %>
          <% if @gamedata.r4answer %>
            <%= button_tag "Round 5", :class => "r5playbutton" %>
          <% else %>
            <%= button_tag "Round 5", :class => "r5playbutton hidden" %>
          <% end %>
          <% if @gamedata.r5answer %>
            <%= button_tag "Round 6", :class => "r6playbutton" %>
          <% else %>
            <%= button_tag "Round 6", :class => "r6playbutton hidden" %>
          <% end %>
        </div>
        <div>
          <%= button_tag "Round 1", :class => "r1playbutton" %>
          <%= button_tag "Round 2", :class => "r2playbutton" %>
          <% if @gamedata.r2answer %>
            <%= button_tag "Round 3", :class => "r3playbutton" %>
          <% else %>
            <%= button_tag "Round 3", :class => "r3playbutton hidden" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="playarea" id="r3play">
      <div class="roundtitle">Round 3</div>
      Category: <span class="gamecategories"><%= @game.r3cat %></span>
      <div class="gameletters" id="round3letters"><%= @game.r3letters %></div>
      <div>
        <%= form_for @gamedata, :url => updateanswer_gamedata_path, :html => {:method => :post, :id => "r3answerform"}, remote: true do |h| %>
          <div>
            <%= h.hidden_field :game_id, :value => @game.id %>
            <span><%= h.text_field :r3answer, :class => "answerfield", :id => "r3answerfield", :placeholder => "Enter or change Round 3 acro here...", :autofocus => true %></span>
            <span id="r3answer"><%= h.submit "Play", :class => "button answersubmitbutton" %>
            </span>
          </div>
        <% end %>
      </div>
      <div id="r3answered">
        <% if @currentgamedata.r3answer == nil %>
          Your acro: No acro yet...
        <% else %>
          Your acro: "<%= @currentgamedata.r3answer %>"
        <% end %>
      </div>
      <% if @gamedata.r1answer && @gamedata.r2answer && @gamedata.r3answer && @gamedata.r4answer &&
            @gamedata.r5answer && @gamedata.r6answer && @gamedata.r7answer && @gamedata.r8answer %>
        <div class="allanswered">
          You've completed every acro! Come back soon to vote!
        </div>
      <% else %>
        <div class="allanswered hidden">
          You've completed every acro! Come back soon to vote!
        </div>
      <% end %>
      <div class="playlongroundbutton">
        <% if @gamedata.r6answer %>
          <%= button_tag "Round 7", :class => "r7playbutton" %>
        <% else %>
          <%= button_tag "Round 7", :class => "r7playbutton hidden" %>
        <% end %>
        <% if @gamedata.r7answer %>
          <%= button_tag "Round 8", :class => "r8playbutton" %>
        <% else %>
          <%= button_tag "Round 8", :class => "r8playbutton hidden" %>
        <% end %>
        <div>
          <% if @gamedata.r3answer %>
            <%= button_tag "Round 4", :class => "r4playbutton" %>
          <% else %>
            <%= button_tag "Round 4", :class => "r4playbutton hidden" %>
          <% end %>
          <% if @gamedata.r4answer %>
            <%= button_tag "Round 5", :class => "r5playbutton" %>
          <% else %>
            <%= button_tag "Round 5", :class => "r5playbutton hidden" %>
          <% end %>
          <% if @gamedata.r5answer %>
            <%= button_tag "Round 6", :class => "r6playbutton" %>
          <% else %>
            <%= button_tag "Round 6", :class => "r6playbutton hidden" %>
          <% end %>
        </div>
        <div>
          <%= button_tag "Round 1", :class => "r1playbutton" %>
          <%= button_tag "Round 2", :class => "r2playbutton" %>
          <%= button_tag "Round 3", :class => "r3playbutton" %>
        </div>


      </div>
    </div>

    <div class="playarea" id="r4play">
      <div class="roundtitle">Round 4</div>
      Category: <span class="gamecategories"><%= @game.r4cat %></span>
      <div class="gameletters" id="round4letters"><%= @game.r4letters %></div>
      <div>
        <%= form_for @gamedata, :url => updateanswer_gamedata_path, :html => {:method => :post, :id => "r4answerform"}, remote: true do |i| %>
          <div>
            <%= i.hidden_field :game_id, :value => @game.id %>
            <span><%= i.text_field :r4answer, :class => "answerfield", :id => "r4answerfield", :placeholder => "Enter or change Round 4 acro here...", :autofocus => true %></span>
            <span id="r4answer"><%= i.submit "Play", :class => "button answersubmitbutton" %>
            </span>
          </div>
        <% end %>
      </div>
      <div id="r4answered">
        <% if @currentgamedata.r4answer == nil %>
          Your acro: No acro yet...
        <% else %>
          Your acro: "<%= @currentgamedata.r4answer %>"
        <% end %>
      </div>
      <% if @gamedata.r1answer && @gamedata.r2answer && @gamedata.r3answer && @gamedata.r4answer &&
            @gamedata.r5answer && @gamedata.r6answer && @gamedata.r7answer && @gamedata.r8answer %>
        <div class="allanswered">
          You've completed every acro! Come back soon to vote!
        </div>
      <% else %>
        <div class="allanswered hidden">
          You've completed every acro! Come back soon to vote!
        </div>
      <% end %>
      <div class="playlongroundbutton">
        <% if @gamedata.r6answer %>
          <%= button_tag "Round 7", :class => "r7playbutton" %>
        <% else %>
          <%= button_tag "Round 7", :class => "r7playbutton hidden" %>
        <% end %>
        <% if @gamedata.r7answer %>
          <%= button_tag "Round 8", :class => "r8playbutton" %>
        <% else %>
          <%= button_tag "Round 8", :class => "r8playbutton hidden" %>
        <% end %>
        <div>
          <%= button_tag "Round 4", :class => "r4playbutton" %>
          <% if @gamedata.r4answer %>
            <%= button_tag "Round 5", :class => "r5playbutton" %>
          <% else %>
            <%= button_tag "Round 5", :class => "r5playbutton hidden" %>
          <% end %>
          <% if @gamedata.r5answer %>
            <%= button_tag "Round 6", :class => "r6playbutton" %>
          <% else %>
            <%= button_tag "Round 6", :class => "r6playbutton hidden" %>
          <% end %>
        </div>
        <div>
          <%= button_tag "Round 1", :class => "r1playbutton" %>
          <%= button_tag "Round 2", :class => "r2playbutton" %>
          <%= button_tag "Round 3", :class => "r3playbutton" %>
        </div>
      </div>
    </div>

    <div class="playarea" id="r5play">
      <div class="roundtitle">Round 5</div>
      Category: <span class="gamecategories"><%= @game.r5cat %></span>
      <div class="gameletters" id="round5letters"><%= @game.r5letters %></div>
      <div>
        <%= form_for @gamedata, :url => updateanswer_gamedata_path, :html => {:method => :post, :id => "r5answerform"}, remote: true do |f| %>
          <div>
            <%= f.hidden_field :game_id, :value => @game.id %>
            <span><%= f.text_field :r5answer, :class => "answerfield", :id => "r5answerfield", :placeholder => "Enter or change Round 5 acro here...", :autofocus => true %></span>
            <span id="r5answer"><%= f.submit "Play", :class => "button answersubmitbutton" %>
            </span>
          </div>
        <% end %>
      </div>
      <div id="r5answered">
        <% if @currentgamedata.r5answer == nil %>
          Your acro: No acro yet...
        <% else %>
          Your acro: "<%= @currentgamedata.r5answer %>"
        <% end %>
      </div>
      <% if @gamedata.r1answer && @gamedata.r2answer && @gamedata.r3answer && @gamedata.r4answer &&
            @gamedata.r5answer && @gamedata.r6answer && @gamedata.r7answer && @gamedata.r8answer %>
        <div class="allanswered">
          You've completed every acro! Come back soon to vote!
        </div>
      <% else %>
        <div class="allanswered hidden">
          You've completed every acro! Come back soon to vote!
        </div>
      <% end %>
      <div class="playlongroundbutton">
        <% if @gamedata.r6answer %>
          <%= button_tag "Round 7", :class => "r7playbutton" %>
        <% else %>
          <%= button_tag "Round 7", :class => "r7playbutton hidden" %>
        <% end %>
        <% if @gamedata.r7answer %>
          <%= button_tag "Round 8", :class => "r8playbutton" %>
        <% else %>
          <%= button_tag "Round 8", :class => "r8playbutton hidden" %>
        <% end %>
        <div>
          <%= button_tag "Round 4", :class => "r4playbutton" %>
          <%= button_tag "Round 5", :class => "r5playbutton" %>
          <% if @gamedata.r5answer %>
            <%= button_tag "Round 6", :class => "r6playbutton" %>
          <% else %>
            <%= button_tag "Round 6", :class => "r6playbutton hidden" %>
          <% end %>
        </div>
        <div>
          <%= button_tag "Round 1", :class => "r1playbutton" %>
          <%= button_tag "Round 2", :class => "r2playbutton" %>
          <%= button_tag "Round 3", :class => "r3playbutton" %>
        </div>
      </div>
    </div>

    <div class="playarea" id="r6play">
      <div class="roundtitle">Round 6</div>
      Category: <span class="gamecategories"><%= @game.r6cat %></span>
      <div class="gameletters" id="round6letters"><%= @game.r6letters %></div>
      <div>
        <%= form_for @gamedata, :url => updateanswer_gamedata_path, :html => {:method => :post, :id => "r6answerform"}, remote: true do |g| %>
          <div>
            <%= g.hidden_field :game_id, :value => @game.id %>
            <span><%= g.text_field :r6answer, :class => "answerfield", :id => "r6answerfield", :placeholder => "Enter or change Round 6 acro here...", :autofocus => true %></span>
            <span id="r6answer"><%= g.submit "Play", :class => "button answersubmitbutton" %>
            </span>
          </div>
        <% end %>
      </div>
      <div id="r6answered">
        <% if @currentgamedata.r6answer == nil %>
          Your acro: No acro yet...
        <% else %>
          Your acro: "<%= @currentgamedata.r6answer %>"
        <% end %>
      </div>
      <% if @gamedata.r1answer && @gamedata.r2answer && @gamedata.r3answer && @gamedata.r4answer &&
            @gamedata.r5answer && @gamedata.r6answer && @gamedata.r7answer && @gamedata.r8answer %>
        <div class="allanswered">
          You've completed every acro! Come back soon to vote!
        </div>
      <% else %>
        <div class="allanswered hidden">
          You've completed every acro! Come back soon to vote!
        </div>
      <% end %>
      <div class="playlongroundbutton">
        <% if @gamedata.r6answer %>
          <%= button_tag "Round 7", :class => "r7playbutton" %>
        <% else %>
          <%= button_tag "Round 7", :class => "r7playbutton hidden" %>
        <% end %>
        <% if @gamedata.r7answer %>
          <%= button_tag "Round 8", :class => "r8playbutton" %>
        <% else %>
          <%= button_tag "Round 8", :class => "r8playbutton hidden" %>
        <% end %>
        <div>
          <%= button_tag "Round 4", :class => "r4playbutton" %>
          <%= button_tag "Round 5", :class => "r5playbutton" %>
          <%= button_tag "Round 6", :class => "r6playbutton" %>
        </div>
        <div>
          <%= button_tag "Round 1", :class => "r1playbutton" %>
          <%= button_tag "Round 2", :class => "r2playbutton" %>
          <%= button_tag "Round 3", :class => "r3playbutton" %>
        </div>
      </div>
    </div>

    <div class="playarea" id="r7play">
      <div class="roundtitle">Round 7</div>
      Category: <span class="gamecategories"><%= @game.r7cat %></span>
      <div class="gameletters" id="round7letters"><%= @game.r7letters %></div>
      <div>
        <%= form_for @gamedata, :url => updateanswer_gamedata_path, :html => {:method => :post, :id => "r7answerform"}, remote: true do |h| %>
          <div>
            <%= h.hidden_field :game_id, :value => @game.id %>
            <span><%= h.text_field :r7answer, :class => "answerfield", :id => "r7answerfield", :placeholder => "Enter or change Round 7 acro here...", :autofocus => true %></span>
            <span id="r7answer"><%= h.submit "Play", :class => "button answersubmitbutton" %>
            </span>
          </div>
        <% end %>
      </div>
      <div id="r7answered">
        <% if @currentgamedata.r7answer == nil %>
          Your acro: No acro yet...
        <% else %>
          Your acro: "<%= @currentgamedata.r7answer %>"
        <% end %>
      </div>
      <% if @gamedata.r1answer && @gamedata.r2answer && @gamedata.r3answer && @gamedata.r4answer &&
            @gamedata.r5answer && @gamedata.r6answer && @gamedata.r7answer && @gamedata.r8answer %>
        <div class="allanswered">
          You've completed every acro! Come back soon to vote!
        </div>
      <% else %>
        <div class="allanswered hidden">
          You've completed every acro! Come back soon to vote!
        </div>
      <% end %>
      <div class="playlongroundbutton">
        <%= button_tag "Round 7", :class => "r7playbutton" %>
        <% if @gamedata.r7answer %>
          <%= button_tag "Round 8", :class => "r8playbutton" %>
        <% else %>
          <%= button_tag "Round 8", :class => "r8playbutton hidden" %>
        <% end %>
        <div>
          <%= button_tag "Round 4", :class => "r4playbutton" %>
          <%= button_tag "Round 5", :class => "r5playbutton" %>
          <%= button_tag "Round 6", :class => "r6playbutton" %>
        </div>
        <div>
          <%= button_tag "Round 1", :class => "r1playbutton" %>
          <%= button_tag "Round 2", :class => "r2playbutton" %>
          <%= button_tag "Round 3", :class => "r3playbutton" %>
        </div>
      </div>
    </div>

    <div class="playarea" id="r8play">
      <div class="roundtitle">Round 8</div>
      Category: <span class="gamecategories"><%= @game.r8cat %></span>
      <div class="gameletters" id="round8letters"><%= @game.r8letters %></div>
      <div>
        <%= form_for @gamedata, :url => updateanswer_gamedata_path, :html => {:method => :post, :id => "r8answerform"}, remote: true do |i| %>
          <div>
            <%= i.hidden_field :game_id, :value => @game.id %>
            <span><%= i.text_field :r8answer, :class => "answerfield", :id => "r8answerfield", :placeholder => "Enter or change Round 8 acro here...", :autofocus => true %></span>
            <span id="r8answer"><%= i.submit "Play", :class => "button answersubmitbutton" %>
            </span>
          </div>
        <% end %>
      </div>
      <div id="r8answered">
        <% if @currentgamedata.r8answer == nil %>
          Your acro: No acro yet...
        <% else %>
          Your acro: "<%= @currentgamedata.r8answer %>"
        <% end %>
      </div>
      <% if @gamedata.r1answer && @gamedata.r2answer && @gamedata.r3answer && @gamedata.r4answer &&
            @gamedata.r5answer && @gamedata.r6answer && @gamedata.r7answer && @gamedata.r8answer %>
        <div class="allanswered">
          You've completed every acro! Come back soon to vote!
        </div>
      <% else %>
        <div class="allanswered hidden">
          You've completed every acro! Come back soon to vote!
        </div>
      <% end %>
      <div class="playlongroundbutton">
        <%= button_tag "Round 7", :class => "r7playbutton" %>
        <%= button_tag "Round 8", :class => "r8playbutton" %>
        <div>
          <%= button_tag "Round 4", :class => "r4playbutton" %>
          <%= button_tag "Round 5", :class => "r5playbutton" %>
          <%= button_tag "Round 6", :class => "r6playbutton" %>
        </div>
        <div>
          <%= button_tag "Round 1", :class => "r1playbutton" %>
          <%= button_tag "Round 2", :class => "r2playbutton" %>
          <%= button_tag "Round 3", :class => "r3playbutton" %>
        </div>
      </div>
    </div>
    <span class="timeremaining">Time left to play: <%= @timeremaining %>.</span><br>
    # of players: <%= @game.playercount %>/12

    <script>
      var timeleft = <%= ((@game.playendtime - DateTime.now.utc).round) * 1000 %>
      function reloadPage() {
        document.location.reload(true);
      }
      setTimeout(reloadPage, timeleft);
    </script>
  </div>
