<div id="resultsround">
  <div class="resultsroundbutton">
    <%= button_tag "Game Result!", :id => "gameresultbutton" %><br>
    <%= button_tag "R1", :id => "r1resultbutton" %>
    <%= button_tag "R2", :id => "r2resultbutton" %>
    <%= button_tag "R3", :id => "r3resultbutton" %>
    <%= button_tag "R4", :id => "r4resultbutton" %>
  </div>

  <div class="resultsarea" id="gametotalresults">
    <div id="gamewinnerinfo">
      <%= image_tag @gamewinner.avatar.url(:small), :style => "border: 1px solid gray; margin-bottom:12px;" %><br>
      Winner: <span class="gamewinnerstats"><%= @gamewinner.username %></span> with <span class="gamewinnerstats"><%= @gamewinnerpoints %></span> points!
    </div>
    <table class="resultstable">
      <thead>
        <tr>
          <th>#</th>
          <th>Player</th>
          <th>R1</th>
          <th>R2</th>
          <th>R3</th>
          <th>R4</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% Gamedata.where(:game_id => @game.id).order('gamepoints DESC').all.zip(@ranknumbers).each do |gamedata, n| %>
          <tr>
            <td><%= n %></td>
            <td><%= User.where(:id => gamedata.user_id).first.username %></td>
            <td><%= gamedata.r1points %></td>
            <td><%= gamedata.r2points %></td>
            <td><%= gamedata.r3points %></td>
            <td><%= gamedata.r4points %></td>
            <td><%= gamedata.gamepoints %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <!-- Round 1 results -->
  <div class="resultsarea" id="round1results">
    <div id="gamewinnerinfo">
      <%= image_tag User.where(:id => @round1winner.id).first.avatar.url(:small), :style => "border: 1px solid gray; margin-bottom:12px;" %><br>
      Round 1 Winner: <span class="gamewinnerstats"><%= User.where(:id => @round1winner.id).first.username %></span> with <span class="gamewinnerstats"><%= Gamedata.where(:game_id => @game.id).order('r1points DESC').first.r1points %></span> points!
    </div>
    <table class="roundresultstable">
      <thead>
        <tr>
          <th>#</th>
          <th>Player</th>
          <th>Vts</th>
          <th>W Bon</th>
          <th>W Vt</th>
          <th>Acro</th>
          <th>Tot. Pts</th>
        </tr>
      </thead>
      <tbody>
        <% Gamedata.where(:game_id => @game.id).order('r1points DESC').zip(@ranknumbers).each do |answer, n| %>
          <tr>
            <td><%= n %></td>
            <td><%= User.where(:id => answer.user_id).first.username %>
              <% if Gamedata.where(:game_id => @game.id).where(:user_id => answer.user_id).first.r1votedfor == 0 %>
                <span class="novotefrown"><%= image_tag("emoji/anguished.png") %></span>
              <% end %>
            </td>
            <td>
              <%= Gamedata.where(:game_id => @game.id).where(:r1votedfor => answer.user_id)
                        .collect(&:r1votedfor).count %>
            </td>
            <td>
              <% if @round1winner.id == User.where(:id => answer.user_id).first.id %>
                +3
              <% end %>
            </td>
            <td>
              <% if @r1winnervoters.include? User.where(:id => answer.user_id).first.id %>
              +1
              <% end %>
            </td>
            <td>"<%= Obscenity.replacement(:stars).sanitize(answer.r1answer) %>"
              <% if @round1winner.id == current_user.id && @round1winner.id == answer.user_id %>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://acrofriends.com" data-text='My winning acro! <%= @currentusergame.r1letters %>: "<%= @currentusergamedata.r1answer %>" (<%= @currentusergame.r1cat %>) Come play!' data-via="AcroParty" data-count="none">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              <% end %>
            </td>
            <td><%= answer.r1points %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <span class="novotefrown"><%= image_tag("emoji/anguished.png") %></span> = non-voter
  </div>

  <!-- Round 2 results -->
  <div class="resultsarea" id="round2results">
    <div id="gamewinnerinfo">
      <%= image_tag User.where(:id => @round2winner.id).first.avatar.url(:small), :style => "border: 1px solid gray; margin-bottom:12px;" %><br>
      Round 2 Winner: <span class="gamewinnerstats"><%= User.where(:id => @round2winner.id).first.username %></span> with <span class="gamewinnerstats"><%= Gamedata.where(:game_id => @game.id).order('r2points DESC').first.r2points %></span> points!
    </div>
    <table class="roundresultstable">
      <thead>
        <tr>
          <th>#</th>
          <th>Player</th>
          <th>Vts</th>
          <th>W Bon</th>
          <th>W Vt</th>
          <th>Acro</th>
          <th>Tot. Pts</th>
        </tr>
      </thead>
      <tbody>
        <% Gamedata.where(:game_id => @game.id).order('r2points DESC').zip(@ranknumbers).each do |answer, n| %>
          <tr>
            <td><%= n %></td>
            <td><%= User.where(:id => answer.user_id).first.username %>
              <% if Gamedata.where(:game_id => @game.id).where(:user_id => answer.user_id).first.r2votedfor == 0 %>
                <span class="novotefrown"><%= image_tag("emoji/anguished.png") %></span>
              <% end %>
            </td>
            <td>
              <%= Gamedata.where(:game_id => @game.id).where(:r2votedfor => answer.user_id)
                        .collect(&:r2votedfor).count %>
            </td>
            <td>
              <% if @round2winner.id == User.where(:id => answer.user_id).first.id %>
                +4
              <% end %>
            </td>
            <td>
              <% if @r2winnervoters.include? User.where(:id => answer.user_id).first.id %>
              +1
              <% end %>
            </td>
            <td>"<%= Obscenity.replacement(:stars).sanitize(answer.r2answer) %>"
              <% if @round2winner.id == current_user.id && @round2winner.id == answer.user_id %>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://acrofriends.com" data-text='My winning acro! <%= @currentusergame.r2letters %>: "<%= @currentusergamedata.r2answer %>" (<%= @currentusergame.r2cat %>) Come play!' data-via="AcroParty" data-count="none">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              <% end %>
            </td>
            <td><%= answer.r2points %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <span class="novotefrown"><%= image_tag("emoji/anguished.png") %></span> = non-voter
  </div>

  <!-- Round 3 results -->
  <div class="resultsarea" id="round3results">
    <div id="gamewinnerinfo">
      <%= image_tag User.where(:id => @round3winner.id).first.avatar.url(:small), :style => "border: 1px solid gray; margin-bottom:12px;" %><br>
      Round 3 Winner: <span class="gamewinnerstats"><%= User.where(:id => @round3winner.id).first.username %></span> with <span class="gamewinnerstats"><%= Gamedata.where(:game_id => @game.id).order('r3points DESC').first.r3points %></span> points!
    </div>
    <table class="roundresultstable">
      <thead>
        <tr>
          <th>#</th>
          <th>Player</th>
          <th>Vts</th>
          <th>W Bon</th>
          <th>W Vt</th>
          <th>Acro</th>
          <th>Tot. Pts</th>
        </tr>
      </thead>
      <tbody>
        <% Gamedata.where(:game_id => @game.id).order('r3points DESC').zip(@ranknumbers).each do |answer, n| %>
          <tr>
            <td><%= n %></td>
            <td><%= User.where(:id => answer.user_id).first.username %>
              <% if Gamedata.where(:game_id => @game.id).where(:user_id => answer.user_id).first.r3votedfor == 0 %>
                <span class="novotefrown"><%= image_tag("emoji/anguished.png") %></span>
              <% end %>
            </td>
            <td>
              <%= Gamedata.where(:game_id => @game.id).where(:r3votedfor => answer.user_id)
                        .collect(&:r3votedfor).count %>
            </td>
            <td>
              <% if @round3winner.id == User.where(:id => answer.user_id).first.id %>
                +5
              <% end %>
            </td>
            <td>
              <% if @r3winnervoters.include? User.where(:id => answer.user_id).first.id %>
              +1
              <% end %>
            </td>
            <td>"<%= Obscenity.replacement(:stars).sanitize(answer.r3answer) %>"
              <% if @round3winner.id == current_user.id && @round3winner.id == answer.user_id %>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://acrofriends.com" data-text='My winning acro! <%= @currentusergame.r3letters %>: "<%= @currentusergamedata.r3answer %>" (<%= @currentusergame.r3cat %>) Come play!' data-via="AcroParty" data-count="none">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              <% end %>
            </td>
            <td><%= answer.r3points %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <span class="novotefrown"><%= image_tag("emoji/anguished.png") %></span> = non-voter
  </div>

  <!-- Round 4 results -->
  <div class="resultsarea" id="round4results">
    <div id="gamewinnerinfo">
      <%= image_tag User.where(:id => @round4winner.id).first.avatar.url(:small), :style => "border: 1px solid gray; margin-bottom:12px;" %><br>
      Round 4 Winner: <span class="gamewinnerstats"><%= User.where(:id => @round4winner.id).first.username %></span> with <span class="gamewinnerstats"><%= Gamedata.where(:game_id => @game.id).order('r4points DESC').first.r4points %></span> points!
    </div>
    <table class="roundresultstable">
      <thead>
        <tr>
          <th>#</th>
          <th>Player</th>
          <th>Vts</th>
          <th>W Bon</th>
          <th>W Vt</th>
          <th>Acro</th>
          <th>Tot. Pts</th>
        </tr>
      </thead>
      <tbody>
        <% Gamedata.where(:game_id => @game.id).order('r4points DESC').zip(@ranknumbers).each do |answer, n| %>
          <tr>
            <td><%= n %></td>
            <td><%= User.where(:id => answer.user_id).first.username %>
              <% if Gamedata.where(:game_id => @game.id).where(:user_id => answer.user_id).first.r4votedfor == 0 %>
                <span class="novotefrown"><%= image_tag("emoji/anguished.png") %></span>
              <% end %>
            </td>
            <td>
              <%= Gamedata.where(:game_id => @game.id).where(:r4votedfor => answer.user_id)
                        .collect(&:r4votedfor).count %>
            </td>
            <td>
              <% if @round4winner.id == User.where(:id => answer.user_id).first.id %>
                +5
              <% end %>
            </td>
            <td>
              <% if @r4winnervoters.include? User.where(:id => answer.user_id).first.id %>
              +1
              <% end %>
            </td>
            <td>"<%= Obscenity.replacement(:stars).sanitize(answer.r4answer) %>"
              <% if @round4winner.id == current_user.id && @round4winner.id == answer.user_id %>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://acrofriends.com" data-text='My winning acro! <%= @currentusergame.r4letters %>: "<%= @currentusergamedata.r4answer %>" (<%= @currentusergame.r4cat %>) Come play!' data-via="AcroParty" data-count="none">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              <% end %>
            </td>
            <td><%= answer.r4points %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <span class="novotefrown"><%= image_tag("emoji/anguished.png") %></span> = non-voter
  </div>

</div>




