<% @mainpagetitle="Join or Start Game" %>
<%= render "shared/topbar" %>

<div id="newgamepage">
  <%= form_for(@game) do |f| %>

    <%= f.hidden_field :length, :value => "1hour" %>
    <%= f.hidden_field :group_id, :value => 0 %>

    <div class="actions">
      <%= f.submit "Play Quick Game (1 hour)", :class => "button" %>
    </div>
  <% end %>

  <%= form_for(@game) do |g| %>

    <%= g.hidden_field :length, :value => "6hour" %>
    <%= g.hidden_field :group_id, :value => 0 %>

    <div class="actions">
      <%= g.submit "Play Medium Game (6 hours)", :class => "button" %>
    </div>
  <% end %>

  <%= form_for(@game) do |h| %>

    <%= h.hidden_field :length, :value => "1day" %>
    <%= h.hidden_field :group_id, :value => 0 %>

    <div class="actions">
      <%= h.submit "Play Long Game (1 day)", :class => "button" %>
    </div>
  <% end %>
</div>

<%= render "shared/bottombar" %>
