<% @mainpagetitle="Join or Start Game" %>
<%= render "shared/topbar" %>

<div id="newgamepage">
  <!-- <%= form_for(@game) do |f| %>

    <%= f.hidden_field :length, :value => "1hour" %>
    <%= f.hidden_field :group_id, :value => 0 %>

    <div class="actions">
      <%= f.submit "Play Quick Game", :class => "button" %>
    </div>
    (4 rounds: 1 hour to play, 2 hours to vote)
  <% end %>
  -->

  <br><br>
  <%= form_for(@game) do |g| %>

    <%= g.hidden_field :length, :value => "6hour" %>
    <%= g.hidden_field :group_id, :value => 0 %>

    <div class="actions">
      <%= g.submit "Play Game", :class => "button" %>
    </div>
    (8 rounds: 6 hours to play, 24 hours to vote)
  <% end %>

  <% if current_user.tooltips == true %>
    <fieldset class="tooltips">
      <legend style="text-align: left; margin-left: 6px;">Tip</legend>
      Pick the length of game you'd like to play. Either you will join a game in progress that does not yet have 12 players, or a new game will be created.
      <%= button_to "Turn tips off", {:controller => "pages", :action => "tipsoff", :method => "put"}, :class => "button tipbutton", remote: true %>
    </fieldset>
    <script>
      $(".button.tipbutton").click(function() {
        $(".tooltips").hide();
      });
    </script>
  <% end %>

</div>

<%= render "shared/bottombar" %>
