<% @mainpagetitle=" Game" %>
<%= render "shared/topbar" %>

<%= form_for(@game) do |f| %>

  <%= f.hidden_field :length, :value => "1hour" %>
  <%= f.hidden_field :group_id, :value => 0 %>

  <div class="actions">
    <%= f.submit "Play Quick Game (1 hour)" %>
  </div>
<% end %>

<%= form_for(@game) do |g| %>

  <%= g.hidden_field :length, :value => "6hour" %>
  <%= g.hidden_field :group_id, :value => 0 %>

  <div class="actions">
    <%= g.submit "Play Medium Game (6 hours)" %>
  </div>
<% end %>

<%= form_for(@game) do |h| %>

  <%= h.hidden_field :length, :value => "1day" %>
  <%= h.hidden_field :group_id, :value => 0 %>

  <div class="actions">
    <%= h.submit "Play Long Game (1 day)" %>
  </div>
<% end %>

<%= render "shared/bottombar" %>
