<% @mainpagetitle="Join or Start Game" %>
<%= render "shared/topbar" %>

<div id="newgamepage">
  <%= form_for(@game) do |f| %>

    <%= f.hidden_field :length, :value => "1hour" %>
    <%= f.hidden_field :group_id, :value => 0 %>

    <div class="actions">
      <%= f.submit "Play Short Game", :class => "button" %>
    </div>
  <% end %>

  <%= form_for(@game) do |g| %>

    <%= g.hidden_field :length, :value => "6hour" %>
    <%= g.hidden_field :group_id, :value => 0 %>

    <div class="actions">
      <%= g.submit "Play Long Game", :class => "button" %>
    </div>
  <% end %>

</div>

<%= render "shared/bottombar" %>
