<% @mainpagetitle = @game.name %>
<%= render "shared/topbar" %>

<div id="playrounds">
  <div class="playroundbutton">
    <%= button_tag "Play Round 1", :id => "r1playbutton" %>
    <%= button_tag "Play Round 2", :id => "r2playbutton" %>
    <%= button_tag "Play Round 3", :id => "r3playbutton" %>
    <%= button_tag "Play Round 4", :id => "r4playbutton" %>
  </div>

  <div class="playarea" id="r1play">
    <div class="roundtitle">Round 1</div>
    Category: <span class="gamecategories"><%= @game.r1cat %></span>
    <div class="gameletters"><%= @game.r1letters %></div>
    <div>
      <%= form_for @gamedata, :url => updateanswer_gamedata_path, :html => {:method => :post}, remote: true do |f| %>
        <div>
          <%= f.hidden_field :game_id, :value => @game.id %>
          <span><%= f.text_field :r1answer, :class => "answerfield", :placeholder => "Enter your acro for Round 1 here...", :autofocus => true %></span>
          <span id="r1answer"><%= f.submit "Play", :class => "button answersubmitbutton" %>
          </span>
        </div>
      <% end %>
      <%= render "shared/gamead" %>
    </div>
    <div id="r1answered">
      <% if @currentgamedata.r1answer == nil %>
        Your acro: No acro yet...
      <% else %>
        Your acro: "<%= @currentgamedata.r1answer %>"
      <% end %>
    </div>
  </div>

  <div class="playarea" id="r2play">
    <div class="roundtitle">Round 2</div>
    Category: <span class="gamecategories"><%= @game.r2cat %></span>
    <div class="gameletters"><%= @game.r2letters %></div>
    <div>
      <%= form_for @gamedata, :url => updateanswer_gamedata_path, :html => {:method => :post}, remote: true do |g| %>
        <div>
          <%= g.hidden_field :game_id, :value => @game.id %>
          <span><%= g.text_field :r2answer, :class => "answerfield", :placeholder => "Enter your acro for Round 2 here...", :autofocus => true %></span>
          <span id="r2answer"><%= g.submit "Play", :class => "button answersubmitbutton" %>
          </span>
        </div>
      <% end %>
      <%= render "shared/gamead" %>
    </div>
    <div id="r2answered">
      <% if @currentgamedata.r2answer == nil %>
        Your acro: No acro yet...
      <% else %>
        Your acro: "<%= @currentgamedata.r2answer %>"
      <% end %>
    </div>
  </div>

  <div class="playarea" id="r3play">
    <div class="roundtitle">Round 3</div>
    Category: <span class="gamecategories"><%= @game.r3cat %></span>
    <div class="gameletters"><%= @game.r3letters %></div>
    <div>
      <%= form_for @gamedata, :url => updateanswer_gamedata_path, :html => {:method => :post}, remote: true do |h| %>
        <div>
          <%= h.hidden_field :game_id, :value => @game.id %>
          <span><%= h.text_field :r3answer, :class => "answerfield", :placeholder => "Enter your acro for Round 3 here...", :autofocus => true %></span>
          <span id="r3answer"><%= h.submit "Play", :class => "button answersubmitbutton" %>
          </span>
        </div>
      <% end %>
      <%= render "shared/gamead" %>
    </div>
    <div id="r3answered">
      <% if @currentgamedata.r3answer == nil %>
        Your acro: No acro yet...
      <% else %>
        Your acro: "<%= @currentgamedata.r3answer %>"
      <% end %>
    </div>
  </div>

  <div class="playarea" id="r4play">
    <div class="roundtitle">Round 4</div>
    Category: <span class="gamecategories"><%= @game.r4cat %></span>
    <div class="gameletters"><%= @game.r4letters %></div>
    <div>
      <%= form_for @gamedata, :url => updateanswer_gamedata_path, :html => {:method => :post}, remote: true do |i| %>
        <div>
          <%= i.hidden_field :game_id, :value => @game.id %>
          <span><%= i.text_field :r4answer, :class => "answerfield", :placeholder => "Enter your acro for Round 4 here...", :autofocus => true %></span>
          <span id="r4answer"><%= i.submit "Play", :class => "button answersubmitbutton" %>
          </span>
        </div>
      <% end %>
      <%= render "shared/gamead" %>
    </div>
    <div id="r4answered">
      <% if @currentgamedata.r4answer == nil %>
        Your acro: No acro yet...
      <% else %>
        Your acro: "<%= @currentgamedata.r4answer %>"
      <% end %>
    </div>
  </div>
  Time left to play: <%= @timeremaining %>.<br>
  players: <%= @game.playercount %>
</div>

<%= render "shared/bottombar" %>

<%= javascript_include_tag "page/playgame" %>
