<% @mainpagetitle = @game.name %>
<%= render "shared/topbar" %>

Time left to play: <%= @timeremaining %>.

<div id="playrounds">
  <div class="playroundbutton">
    <%= button_tag "Play Round 1" %>
    <%= button_tag "Play Round 2" %>
    <%= button_tag "Play Round 3" %>
    <%= button_tag "Play Round 4" %>
  </div>

  <div id="r1play">
    Category: <%= @game.r1cat %>
    Letters: <%= @game.r1letters %>
  </div>

  <div id="r2play">
    Category: <%= @game.r2cat %>
    Letters: <%= @game.r2letters %>
  </div>

  <div id="r3play">
    Category: <%= @game.r3cat %>
    Letters: <%= @game.r3letters %>
  </div>

  <div id="r4play">
    Category: <%= @game.r4cat %>
    Letters: <%= @game.r4letters %>
  </div>
</div>

players: <%= @game.playercount %>

<%= render "shared/bottombar" %>
