<% @mainpagetitle = @game.name %>
<%= render "shared/topbar" %>

<div id="playrounds">
  Time left to play: <%= @timeremaining %>.
  <div class="playroundbutton">
    <%= button_tag "Play Round 1", :id => "r1playbutton" %>
    <%= button_tag "Play Round 2", :id => "r2playbutton" %>
    <%= button_tag "Play Round 3", :id => "r3playbutton" %>
    <%= button_tag "Play Round 4", :id => "r4playbutton" %>
  </div>

  <div class="playarea" id="r1play">
    <div class="roundtitle">Round 1</div>
    Category: <span class="gamecategories"><%= @game.r1cat %></span>
    <div class="gameletters"><%= @game.r1letters %></div>
  </div>

  <div class="playarea" id="r2play">
    <div class="roundtitle">Round 2</div>
    Category: <span class="gamecategories"><%= @game.r2cat %></span>
    <div class="gameletters"><%= @game.r2letters %></div>
  </div>

  <div class="playarea" id="r3play">
    <div class="roundtitle">Round 3</div>
    Category: <span class="gamecategories"><%= @game.r3cat %></span>
    <div class="gameletters"><%= @game.r3letters %></div>
  </div>

  <div class="playarea" id="r4play">
    <div class="roundtitle">Round 4</div>
    Category: <span class="gamecategories"><%= @game.r4cat %></span>
    <div class="gameletters"><%= @game.r4letters %></div>
  </div>
  players: <%= @game.playercount %>
</div>

<%= render "shared/bottombar" %>
