<div id="playrounds">

    <div class="playarea" id="r1play">
      <div class="roundtitle">Lightning Play</div>
      Category: <span class="gamecategories"><%= @lightning.category %></span>
      <div class="gameletters" id="round1letters"><%= @lightning.letters %></div>
      <div>
        <%= form_for @lightning, :url => updateanswer_lightnings_path, :html => {:method => :post, :id => "r1answerform"}, remote: true do |f| %>
          <div>
            <span><%= f.text_field :answer, :class => "answerfield", :id => "r1answerfield", :placeholder => "Enter or change acro here...", :autofocus => true %></span>
            <%= f.hidden_field :id, :value => @lightning.id %>
            <span id="r1answer"><%= f.submit "Play", :class => "button answersubmitbutton" %>
            </span>
          </div>
        <% end %>
      </div>
      <div id="r1answered">
        <% if @lightning.answer == nil %>
          Your acro: No acro yet...
        <% else %>
          Your acro: "<%= @lightning.answer %>"
        <% end %>
      </div>
      <br>
      <%= link_to(lightningvote_lightnings_path) do %>
        <div class="button disabledtoplay" id="lightningtovoteround">
          Play to continue...
        </div>
      <% end %>

      <script>
        $("#lightningtovoteround").click(function() {
          $.ajax({
                  url: "/lightnings/switchplayvote",
                  type: "POST",
                  data: {playvote: 'vote',
                         lightning_id: '<%= @lightning.id %>'},
                  dataType: 'script'
                });
        });
      </script>
      <%= render "shared/gamead" %>

    </div>
    <%= link_to(lightnings_path) do %>
        <div class="button" style="margin-right: 2px;">

          <span style="color:white;">Return to Lightning Menu</span>

        </div>
      <% end %>
  </div>
