<% @mainpagetitle = "Lightning Mode" %>
<%= render "shared/topbar" %>

<div id="newgamepage">
  <% if current_user.nextlightning == "play" %>
    <%= form_for(@lightning) do |f| %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <div class="actions">
        <%= f.submit "Start", :class => "button", :style => "font-size:170%" %>
      </div>
    <% end %>
  <% else %>
    <%= link_to(lightningvote_lightnings_path) do %>
      <div class="button" style="margin-bottom: 24px;">
        <span style="color:white; font-size:170%; font-weight: 400;">Start</span>
      </div>
    <% end %>
  <% end %><br>
  Just want to do some voting?<br>
  <%= link_to(lightningvoteonly_lightnings_path) do %>
      <div class="button" style="margin-bottom: 80px;">
        <span style="color:white; font-size:104%">Vote-only Mode</span>
      </div>
    <% end %><br>
    <span id="resultslists">
      <div id="lightningindexstatbox">

        Total # of your acros: <span class="lightningindexstat"><%= @finishedlightning.count + @finishedlightningnewvotes.count %></span><br>
        Total votes received: <span class="lightningindexstat"><%= current_user.lightningtotalvotesreceived %></span><br>  <%= image_tag("Thumbs-Up-128-Blue.png", size: "28", alt: "Heart", style: "vertical-align: text-bottom") %><span class="lightningindexstat" style="font-size: 130%; margin-right: 12px;"><%= current_user.lifetimelightningthumbsup %></span> <%= image_tag("Thumbs-Down-128-Blue.png", size: "28", alt: "Heart", style: "vertical-align: text-bottom") %><span class="lightningindexstat" style="font-size: 130%; margin-right: 16px;"><%= current_user.lifetimelightningthumbsdown%></span> <%= image_tag("Heart-128-red.png", size: "28", alt: "Heart", style: "vertical-align: text-bottom") %><span class="lightningindexstat" style="font-size: 130%;"><%= current_user.lifetimelightninghearts %></span><br>
        Percentage Thumbs-up: <span class="lightningindexstat"><%= current_user.percentthumbsup %>%</span>
      </div>
    <br><br>
    <% if @finishedlightning.count > 0 %>
      <u>Your completed lightning acros</u><br>
    <% end %>
      <% if @finishedlightningnewvotes.count > 0 %>
        <span style="margin-top: 24px;">Acros with new votes:</span>
      <% end %>
      <% @finishedlightningnewvotes.each do |game| %>

        <span class="completedgamelink">
          <%= link_to(game) do %>
            <% if game.whovoted == "" %>
              <div class="lightningindexbutton">
            <% else %>
              <div class="lightningindexbutton lightningsomeonevoted">
            <% end %>

              <span class="lightninglistcategory"><%= game.category %>:
              </span>
              <span class="lightninglistanswer">"<%= game.answer %>"</span>
              <div class="lightninglistdata">
                <%= image_tag("Thumbs-Up-128-Blue.png", size: "22", alt: "Thumbs Up", class: "lightindexresult-icon") %>
                <span class="lightningindexdata"><%= game.thumbsup %></span>
                <%= image_tag("Thumbs-Down-128-Blue.png", size: "22", alt: "Thumbs Down", class: "lightindexresult-icon") %>
                <span class="lightningindexdata"><%= game.thumbsdown %></span>
                <%= image_tag("Heart-128-red.png", size: "22", alt: "Heart", class: "lightindexresult-icon") %>
                <span class="lightningindexdata"><%= game.hearts %></span>
              </div>
              <span class="lightninglistcategory">New vote!</span>
            </div>
          <% end %></span>
        <br>
      <% end %>
      <% if @finishedlightningnewvotes.count > 0 %>
        <span>
          <div class="button" id="markasread" style="padding: 2px 5px 2px 5px; margin:4px 4px 30px 4px; font-size: 85%;">
            <span style="color:white;">Mark all as viewed</span>
          </div>
        </span>
      <% end %>
      <script>
      $("#markasread").click(function() {
        $.ajax({
            url: "/lightnings/resetvoteddata",
            type: "POST"
          });
        $(".lightningnumber").hide();
        $(".lightningnumberbottom").hide();
      })
      </script>
      <br>

      <% if @finishedlightning.count > 0 %>
        <span style="margin-top: 12px;">Acros with no new votes:</span>
      <% end %>
      <span id="completedgamelist">
        <%= render 'lightning' %>
      </span>
      <div id="paginator">
        <%= paginate @finishedlightninglist, :remote => true %>
      </div>

    <% if current_user.tooltips == true %>
    <fieldset class="tooltips">
      <legend style="text-align: left; margin-left: 6px;">Tip</legend>
      Press "Start" to start playing in "Lightning" mode. You will then play a single acro, vote on 3 acros from other players, then repeat as long as you want. Return to this page to see how other players are voting on your acros.<br><br>
      To simply start voting on other players' clever acros, press "Vote-only Mode".
      <%= button_to "Turn tips off", {:controller => "pages", :action => "tipsoff", :method => "put"}, :class => "button tipbutton", remote: true %>
    </fieldset>
    <script>
      $(".button.tipbutton").click(function() {
        $(".tooltips").hide();
      });
    </script>
  <% end %>
</div>

<%= render "shared/bottombar" %>
