<% @mainpagetitle = "Lightning Mode" %>
<%= render "shared/topbar" %>

<div id="newgamepage">
  <% if current_user.nextlightning == "play" %>
    <%= form_for(@lightning) do |f| %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <div class="actions">
        <%= f.submit "Play Lightning Mode", :class => "button" %>
      </div>
    <% end %>
  <% else %>
    <%= link_to(lightningvote_lightnings_path) do %>
      <div class="button" style="margin-bottom: 100px;">
        Play Lightning Mode
      </div>
    <% end %>
  <% end %><br>

  <u>Your completed lightning acros</u><br>
    <% @finishedlightning.each do |game| %>

      <span class="completedgamelink">
        <%= link_to(game) do %>

          <div class="lightningindexbutton">

            <span class="lightninglistcategory"><%= game.category %>:
            </span>
            <span class="lightninglistanswer">"<%= game.answer %>"</span>
            <div class="lightninglistdata">
              <%= image_tag("Thumbs-Up-128-Blue.png", size: "22", alt: "Thumbs Up", class: "lightindexresult-icon") %>
              <span class="lightningindexdata"><%= @lightning.thumbsup %></span>
              <%= image_tag("Thumbs-Down-128-Blue.png", size: "22", alt: "Thumbs Down", class: "lightindexresult-icon") %>
              <span class="lightningindexdata"><%= @lightning.thumbsdown %></span>
              <%= image_tag("Heart-128-red.png", size: "22", alt: "Heart", class: "lightindexresult-icon") %>
              <span class="lightningindexdata"><%= @lightning.hearts %></span>
            </div>
          </div>
        <% end %></span>
      <br>
    <% end %>
</div>

<%= render "shared/bottombar" %>
