<!DOCTYPE html>
<html>
<head>
  <title>AcroFriends</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic,300italic,300' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>
<div id="alerts">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</alerts>
</body>
</html>
